body{
  margin:0px;
  padding: 0px;
  position: relative;

}
.menu-header{
  width:100%;
  height: 100px;
  background: black;
  position: relative;

}
.menu-header ul li a{
  text-decoration: none;
  color:white;
  font-size: 20px;
  position: relative;
  padding: 0px 0px 0px 10px;
  margin:0px 0px 10px 0px;
  transition: background-color .5s, padding-left .5s;
}
.menu-header ul li a:hover{
  background-color: grey;
  padding-left: 40px
}
.menu-header ul li a::after{
  content:'';
  display: block;
  position: absolute;
  width: 10px;
  height: 1em;
  background: white;
  top:0px;
  left:-10px;
  transition: left .5s;
  visibility: hidden;
}
.menu-header ul li a:hover::after{
  left:0px;
  visibility: visible;
}
@media only screen and (min-width:360px){
  .links{
      height: 0em;
      overflow: hidden;

    }
  .show-links{
    height: 20em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    color: white;
    background: black;
    position: relative;
    top:90px;
  }
  .nav-toggle{
    position: absolute;
    right: 40px;
    top:20px;
    font-size: 30px;
    color: white;
  }

}
@media only screen and (min-width:1000px){
  .show-links{
    position: absolute;
    top:0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width:100%;
    height: -webkit-fill-available;
    color: white;
    background: black;
  }
  .links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width:100%;
    height:100px;
    color: white;
    background: black;

  }
  .nav-toggle{
    display: none;
  }
}
